body{
background-color: rgba(200, 200, 200, 1);
}

.b-logo{
    height: 50px !important;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

  .parallax-container .section {
    width: 100%;
}